<div class="container position">
    <div class="mb14">
        <div class="app-form">
            <h5 class="text-center">Dodaj Korisnika</h5>
  
            
            <div class="app-form-element mb14" [ngClass]="{error: form.elements['firstName'].error.required}">
                <div class="app-form-element-error-messages">
                    <span *ngIf="form.elements['firstName'].error.required">Polje je obavezno za unos</span>
                </div>
                <input type="text" 
                placeholder="Ime: ex. Petar"  
                class="form-control "  
                [(ngModel)]="form.elements['firstName'].value"  
                [ngClass]="{error: form.elements['firstName'].error.required}"/>
                
                
            </div>
            <div class="app-form-element mb14" [ngClass]="{error: form.elements['lastName'].error.required}">
            <div class="app-form-element-error-messages">
                <span *ngIf="form.elements['lastName'].error.required">Polje je obavezno za unos</span>
            </div>
            <input type="text" 
              placeholder="Prezime: ex. Petrovic"  
              class="form-control"  
              [(ngModel)]="form.elements['lastName'].value"  
              [ngClass]="{error: form.elements['lastName'].error.required}"/> 
          </div>
   
          <div class="app-form-element mb14" [ngClass]="{error: form.elements['jmbg'].error.required}">
            <input type="text" 
            placeholder="JMBG: ex. 1111111111111"  
            class="form-control"  
            [(ngModel)]="form.elements['jmbg'].value"  
            [ngClass]="{error: form.elements['jmbg'].error.required}"/>
            
            <div class="app-form-element-error-messages">
                <span *ngIf="form.elements['jmbg'].error.required">Polje je obavezno za unos</span>
            </div>
        </div>
        <div class="text-center">
          <button class="add-edit-button btn   btn-primary" (click)="submit()">Sačuvaj</button>
      </div>
        </div>
         
  
    </div>
  </div>