<div>
  <div class="mb14">
      <div class="app-form">
          <h2 class="text-center">Dodaj kompaniju</h2>

          
          <div class="app-form-element mb14" 
          (ngClass)="{error: form.elements['firstName'].error.required}">
              <label for="firstName">firstName</label>
              <input type="text" 
              placeholder="ex. Petar" 
              class="form-control" 
              [(ngModel)]="form.elements['firstName'].value" 
              name = "firstName" 
              ngClass="{error: form.elements['firstName'].error.required}"/>
              
              <div class="app-form-element-error-messages">
                  <span *ngIf="form.elements['firstName'].error.required">Polje je obavezno za unos</span>
              </div>
          </div>
          <div class="app-form-element mb14" ngClass="{error: form.elements['firstName'].error.required}">
            <label for="lastName">Last name</label>
            <input type="text" 
            placeholder="ex. Petar" 
            class="form-control" 
            [(ngModel)]="form.elements['lastName'].value" 
            name = "lastName" 
            ngClass="{error: form.elements['lastName'].error.required}"/>
            
            <div class="app-form-element-error-messages">
                <span *ngIf="form.elements['lastName'].error.required">Polje je obavezno za unos</span>
            </div>
        </div>


 
          
      </div>
      <div class="text-center">
        <button class="add-edit-button btn btn-lg btn-success" (click)="submit()">Sačuvaj</button>
    </div> 

  </div>
</div>